
@{
    ViewBag.Title = "Terms and Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-4">
    <div style="text-align:center;">
        <h3>THE UNITED TRADING COMPANY ASSURED BUYBACK® AGREEMENT</h3>
        <p>UTCABB002 (BSH-BH-84-2022-2)</p>
    </div>



    <p>This Buyback Agreement (the "Agreement") is a legal contract that governs THE UNITED TRADING COMPANY's Assured Buyback Plan (“Plan” or “Option”). The Agreement is between the individual who has was offered the plan with a new Bosch home appliance sold through preidentified Bosch Brand-Stores, ("You") and THE UNITED TRADING COMPANY ("UTC"). By acquiring this Plan through BSH Home Appliances Manufacturing Pvt Ltd (“BSH”), you acknowledge that this is a legal contract and you have had the opportunity to read the terms and conditions set forth in it. This Agreement, and your Purchase Invoice comprise the entire agreement relating to the Plan.</p>



    <ol type="1">
        <li>
            <strong>DEFINITIONS. </strong>In addition to the terms defined elsewhere in this Agreement, the following terms have the following meanings for purposes of this Agreement:
            <ol type="a">
                <li>PRODUCT. The Bosch Home Appliance covered by this Agreement.</li>
                <li>PRODUCT RETAIL PRICE. The actual cost You paid to the Retailer for the Product, but not including any additional accessories, peripherals, software or services. The Product Retail Price is net of any instant savings, but is not net of any mail-in rebates or other offers.</li>
                <li>SERVICE FEE. This plan is free to you and being provided as a free offer at the time of purchase from eligible Bosch store.</li>
                <li>EXPIRATION DATE. The last date upon which You may return the Product to UTC.</li>
                <li>PLAN PERIOD. The period commencing on the Effective Date of this Agreement and ending on Expiration Date (the "Plan Period"), during which the Plan can be exercised. The Plan Period is subdivided into a number of sub-periods ("Subperiods"), as described in this Agreement, on the Materials, or in the online terms of sale, as applicable.</li>
                <li>BUYBACK AMOUNT. The amount UTC agrees to pay You for the Product, if You exercise the Plan within the Plan Period, subject to the terms of this Agreement, such amount to be paid to you by UTC in the form of a coupon for store credit valid at</li>
                <li>
                    The Buyback Amount changes based on both the Subperiod during which the Product is returned, and the condition of the Product as follows:

                    <ol type="i">
                        <li>FIRST PERIOD. The time period from the 6<sup>th</sup> month after the purchase date of the Plan to Twelve (12) months after the purchase date of the Plan. During the First Period, the Buyback Amount will be 60% of Product Retail Price net of taxes, subject to the condition of the Product.</li>
                        <li>SECOND PERIOD. The time period from Twelve (12) months  One (1) day after the purchase date of the Plan to twenty-four (24) months after the purchase of the Plan. During the Second Period, the Buyback Amount will be 50% of the Product Retail Price net of taxes, subject to the condition of the Product.</li>
                        <li>
                            THIRD PERIOD. The time period from twenty-four (24) months  One (1) day after the purchase date of the Plan to thirty-six (36) months after the purchase date of the Plan. During the Third Period, the
                            Buyback Amount will be 40% of the Product Retail Price net of taxes, subject to the condition of the
                            Product.
                        </li>
                        <li>
                            FOURTH PERIOD. The time period from thirty-six (36) months  One (1) day after the purchase date of
                            the Plan to forty-eight (48) months after the purchase date of the Plan. During the Fourth Period, the
                            Buyback Amount will be 30% of the Product Retail Price net of taxes, subject to the condition of the
                            Product.
                        </li>
                        <li>
                            FIFTH PERIOD. The time period from forty-eight (48) months  One (1) day after the purchase date of
                            the Plan to sixty (60) months after the purchase date of the Plan. During the Fifth Period, the Buyback
                            Amount will be 20% of the Product Retail Price net of taxes, subject to the condition of the Product.
                        </li>
                        <li>
                            SIXTH PERIOD. The time period from sixty (60) months  One (1) day after the purchase date of the
                            Plan to seventy-two (72) months after the purchase date of the Plan. During the sixth Period, the Buyback
                            Amount will be 15% of the Product Retail Price net of taxes, subject to the condition of the Product.
                        </li>
                        <li>
                            SEVENTH PERIOD. The time period from seventy-two (72) months  One (1) day after the purchase date
                            of the Plan to eighty-four (84) months after the purchase date of the Plan. During the seventh Period, the
                            Buyback Amount will be 10% of the Product Retail Price net of taxes, subject to the condition of the
                            Product.
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <strong>GRANT OF BUYBACK OPTION. </strong>UTC hereby grants to You an option to sell to UTC, and UTC hereby
            agrees to buy, the Product at a Buy back Amount according to the schedule set forth in this Agreement, on the
            Materials, or in the online terms of sale, as applicable, subject to the conditions set forth in this Agreement.
        </li>
        <li>
            <strong>EXERCISE - WHEN YOU ARE READY TO CLAIM YOUR BUYBACK AMOUNT. </strong>You may exercise this Option by (a)
            notifying UTC through the UTC website at&nbsp; http://www.UTCbridge.com or by calling +91 9619697745 OR contacting
            BSH Call centre 000-000-0000 or website - <a href="http://www.bosch-home.in">www.bosch-home.in</a> and (b) Post
            successful inspection of the product by UTC, during the Plan Period, provided that You are not in breach of any of
            the terms of this Agreement.
        </li>
        <li>
            <strong>PICK-UP TERMS.</strong>
            <ol type="a">
                <li>
                    UTC WILL PICK UP THE PRODUCT FROM YOUR DOORSTEP (within the live pin codes of operations within India) after
                    receiving acknowledgement from you and successful inspection of the product to qualify for the working
                    condition. (i) customer can notify through an interface on the UTC website, or (ii) by calling UTC number.
                    Please allow approximately <s>5</s> 7 working days for pickup of the product. It is solely Your responsibility
                    to request for availing the buyback option within the deadlines in this Agreement to enable pick up of the
                    Product by UTC on time.
                </li>
                <li>
                    PRODUCT PACKING. Our service partners will be packing and shipping the Product in a manner that ensures that
                    it will not be damaged during shipment and will bear all risk of loss to the Product, including damage during
                    shipping, until the Product is actually received by UTC.
                </li>
                <li>RISK OF LOSS. The risk of loss shall pass to UTC upon receipt of the Product by UTC.&nbsp;</li>
            </ol>
        </li>
        <li>
            <strong>TIME OF ESSENCE; FAILURE TO EXERCISE. </strong>Time is of the essence in this Agreement and is a
            material term of the Agreement.
        </li>
        <li>
            <strong>PAYMENT.</strong>
            <ol type="a">
                <li>
                    PAYMENT. Payment of the Buyback Amount by way of a coupon to You by UTC constitutes fulfilment of all of
                    UTC's obligations under this Agreement and terminates this Agreement.
                </li>
                <li>
                    TIMING. Payment of the Buyback Amount by UTC shall be made within seven (7) days following receipt of the
                    Product by UTC, subject to the Acceptance
                    <p>Testing set forth in Paragraph</p>
                </li>
                <li>
                    Upon UTC's successful completion of Acceptance Testing, all right, title and interest in Product will shift
                    to UTC.
                </li>
                <li>
                    GST. You are responsible for paying and accounting for any GST that may be applicable to You in Your home
                    state
                    for the sale of the Product to UTC. And UTC makes no representations or warranties regarding Your possible
                    sales tax
                    liabilities for this transaction. All GST for Your sale of the Product to UTC are solely Your responsibility.
                </li>
            </ol>
        </li>
        <li>
            <strong>MAINTENANCE, REPAIR, NO WARRANTY, LOSS. </strong>You assume all obligations and liability with respect
            to the possession of the Product, and for its use, condition, and storage during the Plan Term. You will, at Your
            own expense, maintain the Product in good mechanical condition and running order.&nbsp; You agree to comply with
            all requirements necessary to enforce all Product warranty rights, and if Product breaks while under warranty, you
            agree to cause warranty issuer to perform the appropriate repairs before sending Product to UTC. UTC will not be
            under any liability or obligation in any manner to provide service, maintenance, repairs, or parts for the
            Product. At all times prior to receipt of the Product by UTC, the risk of loss of the Product shall be on You. The
            risk of loss shall pass to UTC upon receipt of the Product by UTC. If material loss occurs to the Product during
            the Plan Term, but before receipt of the Product by UTC, your rights under this Agreement will automatically
            terminate without notice.
        </li>
        <li>
            <strong>ACCEPTANCE TESTING. </strong>If You exercise the Plan in accordance with the terms of this Agreement,
            UTC in its sole discretion or the discretion of any of its agents reserves the right to adjust the Buyback Amount
            according to the following grading system. PLEASE NOTE that UTC will not make a claim on any warranty plan on Your
            behalf. You must make any warranty claim prior to sending the Product to UTC.
            <ol type="a">
                <li>
                    <strong>GOOD. </strong>The Product is fully functional, with normal visible wear and tear.&nbsp; The
                    Product
                    must be returned with all components, and all other accessories that originally shipped with the Product. If
                    UTC grades the Product as Good, no adjustment will be made to the Buyback Amount.
                </li>
                <li>
                    <strong>POOR. </strong>The Product has one or more of the following issues: 1. The Product has sustained
                    minor functional damage or product failure that can be easily repaired; 2. One or more of the Product ‘s
                    minor
                    components, peripherals, or accessories is missing or damaged but can be easily repaired or replaced; 3. The
                    Product has more than normal visible wear and tear, including, but not limited to, cracks, dents, scratches
                    and dirt If UTC grades the Product as Poor, the Buyback Amount will be adjusted down by 50%.
                </li>
                <li>
                    <strong>SUBSTANTIALLY IMPAIRED. </strong>The Product has one or more of the following issues: 1. The
                    Product has
                    functional damage or product failure that affects its ability to perform its function or impairs its use and
                    cannot be easily repaired; 2. One or more of the Product's components, peripherals, or accessories is
                    missing or
                    damaged and cannot be easily repaired or replaced; 3. The Product has been recalled by its manufacturer and
                    has
                    not been repaired or replaced prior to sending it to UTC. All damage described above must be repaired either
                    under
                    warranty, or at Your own cost before sending the Product to UTC. The Product will not be accepted in
                    Substantially
                    Impaired condition.&nbsp; If the Product is considered to be Substantially Impaired, the Product will be
                    considered Rejected Product as provided in Paragraph 9.
                </li>
            </ol>
        </li>

        <li>
            <strong>REJECTED PRODUCT. </strong>If the Product is considered to be a Rejected Product, the Plan will be
            terminated with no refund of the Buyback Amount, and you will be notified at your site at the time of
            inspection
            and you will receive an e-mail notification regarding the same.
        </li>
        <li>
            <strong>OTHER TERMS AND CONDITIONS.</strong>
            <ol type="a">
                <li>
                    PRODUCT PURCHASED CONCURENTLY OR PREVIOUSLY. You warrant that You are the legal and beneficial owner of
                    the
                    Product as of the Effective Date of this Agreement.&nbsp;&nbsp; You further agree that the terms of this
                    Agreement cover only the Product and NOT any similar or alternative Product except as specified in
                    Paragraph
                    10(i). UTC reserves the right to terminate the Plan for individuals who have not purchased the Product
                    before
                    entering into this Agreement.
                </li>

                <li>
                    PURCHASER RECORDS. You may be asked to provide information from either your sales receipt or the
                    Materials,
                    if applicable, as a condition for receiving service under the Plan. YOUR ORIGINAL SALES INVOICE AND
                    MATERIALS,
                    IF APPLICABLE, SHOULD BE KEPT WITH THIS AGREEMENT IN A SAFE PLACE.
                </li>

                <li>
                    TECHNICAL SPECIFICATIONS. In order for the Buyback Amount to be valid and effective, the actual
                    technical
                    specifications of the Product must match the technical specifications, including the serial number
                    (“Technical
                    Specifications”) of the Product you purchased for this Plan, except as specified in 10(i). In cases where
                    the
                    actual specifications of the Product You return to UTC do not match the specifications of the Product
                    covered
                    by the Plan, we may ask you to provide an original sales receipt, and if the sales receipt cannot be
                    produced
                    or does not match with the Product in question, the Product will be considered a Rejected Product, as
                    provided
                    in Paragraph 9.
                </li>

                <li>
                    LIMITATION ON PLAN ELIGIBILITY. Only products used in a domestic / residential premise are eligible to
                    be
                    covered under the buyback guarantee. A Plan will be considered Active at all times between its Effective
                    Date
                    and the last day of its Late Fee Period or until the Plan is exercised.&nbsp;
                </li>

                <li>
                    NO SUPPLY OR SELECTION BY UTC. You acknowledge that UTC did not select, manufacture or supply any
                    Products
                    to You and that You have made the selection of the Product based upon Your own judgment and expressly
                    disclaim
                    any possible reliance upon any statements made by UTC or its agents, other than the terms of this
                    Agreement
                </li>

                <li>
                    INTELLECTUAL PROPERTY. UTC's pricing methodology and the information contained on its website is trade
                    secret, proprietary and any attempt to improperly obtain that information will cause the Plan to be
                    terminated
                    at UTC's sole discretion and may subject You to monetary damages and civil liability. Any unauthorized use
                    of
                    the UTC website, including but not limited to, data mining, scraping, spidering, robot ting, using
                    automated
                    means to access UTC's website for any purpose, transferring of any viruses, Trojan horses, worms,&nbsp; or
                    any
                    other computer programming routines that may damage, harm, interfere or expropriate any of UTC's website
                    systems, programs, content, information or application will cause the Plan to be terminated at UTC'S
                    discretion, and may subject You to monetary damages and civil liability.
                </li>

                <li>
                    BUYBACK AMOUNT CHANGES. Any percentage change in the Buyback Amount shall be a change based on the
                    entire
                    Buyback Amount, exclusive of any other or prior change.
                </li>

                <li>
                    PLAN NOT TRANSFERABLE This Buyback Plan is not transferrable to anyone other than first buyer who bought
                    it
                    from a Bosch Store, and who has registered the product at the time of first purchase
                </li>

                <li>
                    NO CLAIM PERIOD There will be a No Claim Period of 6 months from the date of registering the Plan on the
                    UTC
                    website during which You cannot exercise the option to Sell the product to UTC under this agreement.
                </li>

                <li>
                    PLAN ADMINISTRATION. Your rights under these terms and conditions, including, without limitation, the
                    payment of any Buyback Amount, are expressly contingent upon your full compliance with each of the
                    requirements set forth in this Agreement. All eligibility and other matters relating to your purchase or
                    use
                    of this Plan will be determined by UTC, in its sole discretion, and each such determination will be
                    binding on
                    you. &nbsp;
                </li>
            </ol>
        </li>
        <li>
            <strong>MISCELLANEOUS.</strong>
            <ol type="a">
                <li>
                    GOVERNING LAW.&nbsp; AGREEMENT SHALL BE DEEMED TO HAVE BEEN MADE IN, AND SHALL BE CONSTRUED PURSUANT TO
                    INDIAN LAWS
                </li>
                <li>
                    INTERPRETATION. Whenever possible, each provision of this Agreement shall be interpreted in such a
                    manner as
                    to be effective and valid under applicable law, but if any provision of this Agreement shall be determined
                    to
                    be invalid or unenforceable to any extent under INDIAN law, and the extent of such invalidity or
                    unenforceability does not destroy the basis for the bargain between the parties as expressed herein, then
                    (i)
                    such provision shall be deemed severed from this Agreement with respect to such circumstance, without
                    invalidating the remainder of this Agreement or the application of such provision to other circumstances,
                    and
                    (ii) a new valid and enforceable provision, which accomplishes the intent of the parties hereto as
                    evidenced
                    by the provisions so severed, shall be deemed substituted in lieu of the invalid or unenforceable
                    provision.
                </li>
                <li>
                    WAIVER. No action or lack of action by UTC shall be deemed or construed as a waiver of any provision of
                    this
                    Agreement. No waiver of any provision of this Agreement shall constitute or be deemed a waiver of any
                    other
                    provision, whether or not similar, nor shall any waiver constitute a continuing waiver. No waiver shall be
                    binding unless it is executed in writing by the party making the waiver.
                </li>
                <li>
                    HEADINGS. Any headings used in this Agreement are for reference purposes only and are not to be used to
                    construe or limit the meaning of any provision.
                </li>
                <li>
                    DISPUTE RESOLUTION AND INDEPENDENT ARBITRATION. MOST OF YOUR CONCERNS CAN BE RESOLVED THROUGH UTC
                    CUSTOMER SERVICE. IF, HOWEVER, YOU HAVE AN ISSUE THAT CANNOT BE RESOLVED WITHOUT THIRD-PARTY INTERVENTION, YOU AND UTC AGREE THAT ANY DISPUTE OR CLAIM IN
                    LAW OR EQUITY ARISING BETWEEN THEM
                    OUT OF THIS AGREEMENT OR ANY RESULTING TRANSACTION SHALL BE DECIDED BY
                    COURTS IN MUMBAI LEGAL FEES. If any legal action or proceeding arises out of or relating to this Agreement,
                    the prevailing party will be entitled to receive from the other party, in addition to any other relief that
                    may granted, the reasonable attorneys' fees, costs, and expenses incurred in the action or proceeding by the
                    prevailing party.
                </li>
                <li>
                    LIMITATION OF LIABILITY. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, UTC’S TOTAL LIABILITY (WHET
                    HER IN CONTRACT, WARRANTY, TORT (INCLUDING
                    NEGLIGENCE, PRODUCT LIABILITY OR STRICT LIABILITY), OR OTHERWISE), ARISING OUT OF OR RELATING TO THE ASSURED
                    BUYBACK PLAN OR ANY OTHER PRODUCTS, SERVICES OR OTHER ITEMS FURNISHED BY UTC UNDER THIS AGREEMENT SHALL NOT
                    EXCEED THE AMOUNT OF THE BUYBACK AMOUNT PAYABLE BY UTC TO YOU FOR THE PRODUCT GIVING RISE TO THE CLAIM.
                </li>
                <li>
                    AMENDMENT. UTC may modify any immaterial terms or conditions of this Agreement upon written notice to
                    You. Any material terms or conditions of this Agreement may be amended only upon written agreement of the
                    parties.
                </li>

            </ol>
        </li>
        <li>
            Bosch and UTC is committed to protecting and respecting your privacy, and we’ll only use your personal information to administer your account and to provide the products and services you requested from us. From time to time, we would like to contact you about our products and services, as well as other content that may be of interest to you.
        </li>
    </ol>
</div>
