
@{
    ViewBag.Title = "Terms and Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="p-4">
    <div style="text-align:center;">
        <h3>THE UNITED TRADING COMPANY SMART EXCHANGE® AGREEMENT</h3>
    </div>





    <p>Exchanges done as part of the new Purchases made will be subject to the terms and conditions of the program.</p>
    <p>Any Exchanges done on the DIGI2L platform under the Exchange Offer of the brand or retailer will be subject to the following terms and conditions:</p>
    <p>By agreeing to avail the benefits under the Offer, you hereby represent, warrant and covenant that:</p>

    <ol type="a">
        <li>You are the sole, absolute and lawful owner of the product being returned ("Used Product") and you confirm that the Used Product was exclusively for personal use, and not for business or commercial use;</li>
        <li>By declaring your product condition, you have initiated the request for your product Quality Check</li>
        <li>The Used Product along with all accessories, wherever applicable, under the Offer is genuine and is not counterfeit, free from any and all encumbrances, liens, attachments, disputes, legal flaws, exchange or any agreement of sale etc.</li>
        <li>Final value of the product will depend on the outcome of our transparent quality check process which shall be conducted in your presence</li>
        <li>You are free to accept or refuse the price quoted upon completion of the Quality check parameter</li>
        <li>Once you accept the price our logistics provider will pick up the said product and make instant payment via UPI </li>
        <li>The Used Product should not be damaged, broken, or otherwise tampered with. The Used Product should match the details entered while placing the order (with Exchange), where applicable, and will be validated by the Quality check technician</li>
    </ol>

    <p>You further confirm that:</p>

    <ol type="a">
        <li>All the data in the Used Product (if any and wherever applicable) will be erased before being exchanged under the Offer;</li>
        <li>In spite of erasing the data manually/electronically, if any data still accessible due to any reason, UTC or its affiliates, the seller, the partner, the future buyer, or the manufacturer shall not be responsible for the same and you will not approach any of the above parties for any retrieval or deletion of the data; and</li>
        <li>At the time of delivery of the new product, the applicable Used Product should already be kept uninstalled.</li>
    </ol>
    <p>You agree to indemnify and keep indemnified UTC and its affiliates, applicable seller, the buyback partner, and any future purchaser of the Used Product against all or any third-party claims, demand, cost, expenses including attorney fees which may be suffered, incurred, undergone and/or sustained by UTC, its affiliates, applicable seller, the buyback partner or any future purchaser due to:</p>
    <ol type="a">
        <li>Usage of the Used Product by you;</li>
        <li>Data on the Used Product, if any;</li>
        <li>Return of a different product or if the Used Product does not meet the conditions prescribed herein or if the condition of the Used Product is different from the condition specified at the time of availing the Offer; and</li>
        <li>Any breach of these Offer terms and conditions.</li>
    </ol>

    <p>You understand that the Used Product pickup will happen once the new product is delivered and you shall keep the Used Product ready and un-installed (if applicable) for quick pick up. In the event you refuse to give the Used Product at the time of pick-up or that the Used Product is different or does not conform to the conditions specified during the Quality check, then the exchange transaction shall get cancelled and a cancellation charge of INR 500 would be applicable, which needs to be paid to UTC logistics provider via UPI </p>

    <p>You hereby give your consent that your personal information that you have provided in connection with this Offer might be processed, transferred and retained by the seller, the buyback partner, and other entities involved in managing and administration of the Offer.</p>

    <p>You understand that your eligibility for the Offer or a greater value will solely be determined by the results of the quality checks or diagnostics performed in accordance with the terms, hence such determination cannot be challenged by you, however you are at liberty not to avail the additional features of the Offer should you disagree with the price determination at the time of un-installation of the Used Product, please ensure that delivery associate is not left unattended. In case of any dispute / issue with the delivery associate or the un-installation, please Contact Us.</p>
    <p>
        You understand that once the Used Product is sent for exchange under the Offer, under no circumstance can the Used Product be returned back to you. In the event you return the new product purchased under the Offer, the Used Product will not be returned to you.
    </p>

    <p>In order to comply with the Government advisories/directives/notifications/guidance on social distancing and Covid appropriate behavior, we now require all customers, exchanging their used product, to keep their used product ready at the doorstep for pick-up. This is to ensure that our logistics providers are able to do a contactless pick up  </p>

</div>



<!-- wrapper ends -->
