<div class="container" style="margin-top:166px;">
    <div class="row vh-60 justify-content-center align-items-center" id="rdceldiv">

        <div class="row">
            <div class="col-6 m-auto" style="margin: 5px;">
                <div class="logowrapper py-3">

                    @*<img class="logo" style="" src="~/Content/DB_Files/SponsorLogo/Digi2L_Logo_Final.png" alt="https://i.pinimg.com/originals/3f/95/48/3f9548beef7804b53a111ced870da0c6.pngs">*@
                </div>
            </div>

        </div>
        <div class="jumbotron" id="rdceltext">
            <h1>RDCEL API V 1.0</h1>
            <p class="lead">API is to connect with RDCEL Application.</p>
            <p><a href="https://rdcel.com/" target="_blank" class="btn  btn-lg" style="background-color:white; color:#000;">Learn more &raquo;</a></p>
        </div>

    </div>
</div>

