
@{
    ViewBag.Title = "Create Ticket With Mahindra Logistics";
}

<div class="row">
    <div class="col-6 m-auto" style="margin: 5px;">
        <div class="logowrapper py-3">

            <img class="logo" style="" src="~/Content/DB_Files/SponsorLogo/Digi2L_Logo_Final.png" alt="https://i.pinimg.com/originals/3f/95/48/3f9548beef7804b53a111ced870da0c6.pngs">
        </div>
    </div>

</div>

@using (Html.BeginForm("MahindraLogistics", "Home", FormMethod.Post))
{
    <h3 class="section-title">Create Ticket With Mahindra Logistics</h3>
    <div class="row">
        <div class="form-group">
            <label>SponsorOrderNo:</label>
            @Html.TextBox("SponsorOrderNo", "", new { @class = "form-control", @id = "txtSponsorOrderNo", @required = "requried" })
        </div>
        <div class="form-group">
            <label>Generate Ticket Without Balance Check:</label>
            @Html.CheckBox("GenerateTicketWithoutBalanceCheck", new { @class = "form-control", @id = "txtSponsorOrderNo" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>

}

