<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>

	<connectionStrings>
    <add name="Digi2l_DBEntities" connectionString="metadata=res://*/Digi2l_DBEntities.csdl|res://*/Digi2l_DBEntities.ssdl|res://*/Digi2l_DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.168.19.49, 1433;initial catalog=Digi2L_Prod;persist security info=True;user id=devuser;password=Dig!t@lUTC@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Digi2l_DBEntitiesSQL" connectionString="data source=103.168.19.49, 1433;initial catalog=Digi2L_Prod;persist security info=True;user id=devuser;password=Dig!t@lUTC@123;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />

		<!--<add name="Digi2l_DBEntities" connectionString="metadata=res://*/Digi2l_DBEntities.csdl|res://*/Digi2l_DBEntities.ssdl|res://*/Digi2l_DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-600L2C5\SQLEXPRESS;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=Admin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Digi2l_DBEntitiesSQL" connectionString="data source=DESKTOP-600L2C5\SQLEXPRESS;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=Admin@123;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />-->

	</connectionStrings>

	<appSettings>

		<!--<add key="LogPath" value="E:\Priyanka\DIGI2L\UTC_Bridge\src\RDCEL.DocUpload.Solution\RDCEL.Zoho.Integration\Log"/>-->
		<add key="LogPath" value="D:\Projects\DotNetProject\Himanshu Jain\Development\UTC\src\Log"/>
		<add key="AddLog" value="1"/>

    <!--Zoho Settings-->
    <add key="client-id" value="1000.ZJREBIWPI96M3NZ10Z6SRSRHLT1PXY" />
    <add key="client-secret" value="122b262fac522fa9a6433c9e15616faf0d4d320a72" />
    <add key="referesh-token" value="1000.022e898988021623b616ea7176ca0221.405bb2bdd74676ee363399d0b26854b6" />
    <add key="redirect-uri" value="https://creatorapp.zoho.com/utcdigital" />
    <!--End Zoho Settings-->
    
		<!--Creator API call Settings-->
		<add key="CreatorBaseURL" value="creatorapp.zoho.com" />
		<add key="AccountOwnerName" value="utcdigital" />
		<!--<add key="ApplicationLinkName" value="digi2l" />-->
		<add key="ApplicationLinkName" value="sept-6-live" />
		<!--copy of digi2l-->
		<!--<add key="ApplicationLinkName" value="copy-of-digi2l" />-->
		<!--End Creator API call Settings-->

		<!--Digi2l Access Detail-->
		<add key="Username" value="noreply@digimart.co.in" />
		<add key="Password" value="Dg!t@lUTC123" />
		<!--End Digi2l Access Detail-->

		<!--Bizlog Detail-->
		<add key="RetailerId" value="858c0120-7f10-4c46-b16f-9a3cb560561c" />
		<add key="ApiToken" value="31b26b73e64f56d6354eb632dafd7fe2" />
		<add key="CreateTicketUrl" value="https://test.bizlog.in:9443/rlogistics-execution/rlservice/ticket/create/pickanddrop/oneway" />
		<add key="CancelTicketUrl" value="https://test.bizlog.in:9443/rlogistics-execution/rlservice/ticket/cancel" />
		<!--End Bizlog Detail-->
		
		<!--Registry Detail-->
		<add key="RegistryKey" value="HKEY_CURRENT_USER\MyApplication"/>
		<add key="RegistryValue" value="FirstRun2"/>

	</appSettings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>