@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center align-items-center">
    <div class="col-md-6 mx-auto">

        <div class="row">
            <div class="col-md-12">
                <div class="card box">
                    <div class="row text-center">

                        <p class="m-0">@ViewBag.MSG</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

