<?xml version="1.0" encoding="utf-8"?>
<!--
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Dev Update-->
    <add name="Digi2l_DBEntities" connectionString="metadata=res://*/Digi2l_DBEntities.csdl|res://*/Digi2l_DBEntities.ssdl|res://*/Digi2l_DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-Q35HPV2\SQLEXPRESS;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=admin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Digi2l_DBEntitiesSQL" connectionString="data source=DESKTOP-Q35HPV2\SQLEXPRESS;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=admin@123;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />


    <!--Dev Update-->
 	<!--Dev Update-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AddLog" value="1" />
    <!--<add key="LogPath" value="E:\Priyanka\DIGI2L\UTC_Bridge\src\RDCEL.DocUpload.Solution\Log" />-->
    <add key="LogPath" value="Log" />
    <add key="BaseURL" value="http://localhost:44318/" />
    <!--start new -->
    <add key="QRCodeImage" value="Content\DB_Files\StoreQRCode\" />
    <add key="InvoiceImage" value="Content\DB_Files\InvoiceImage\" />
    <add key="ExchangeInvoiceImage" value="Content\DB_Files\ExchangeInvoiceImage\" />
    <!-- Exchange POD path -->
    <add key="ExchangePODView" value="Content/DB_Files/ExchangePODImage/" />
    <!--<add key="ExchangePOD" value="C:\VishalK\Projects\UTC_Bridge\Development\src\RDCEL.DocUpload.Web.API\Content\DB_Files\ExchangePODImage\" />-->
    <add key="ExchangePOD" value="Content\DB_Files\ExchangePODImage\" />
    <!--/Exchange POD path -->
    <add key="SMSKey" value="MzEzOTRjMzU3NjU1MzM1YTU3NTI3MDZjNmE0Yjc5NmI=" />
    <add key="OTPActivatedMin" value="20" />
    <add key="SenderName" value="THEUTC" />
    
    <!--end new-->
    <add key="EnableMail" value="1" />
    <add key="BCCEmail" value="anand@utcdigital.com" />
    <add key="SupportDisplayName" value="1" />
    <add key="FromEmail" value="admin@digimart.co.in" />
    <add key="UserName" value="noreply@digimart.co.in" />
    <add key="Password" value="Dg!t@lUTC123" />
    <add key="HostName" value="poppro.zoho.in" />
    <add key="PortNumber" value="995" />
    <add key="IsSSL" value="1" />
    <add key="UseDefaultCredentials" value="1" />
    <!--exe file path for Update Zoho creator EVC balance-->
    <add key="ExePath" value="D:\Projects\DotNetProject\Himanshu Jain\Development\UTC\src\RDCEL.Zoho.Book_Creator.Integration\bin\Debug\" />
    <add key="FileName" value="RDCEL.Zoho.Book_Creator.Integration.exe" />
    <!--exe file path for Update All Integration-->
    <add key="AllIntegrationExePath" value="D:\Projects\DotNetProject\Himanshu Jain\Development\UTC\src\RDCEL.Zoho.Integration\bin\Debug\" />
    <add key="AllIntegrationFileName" value="RDCEL.Zoho.Integration.exe" />
    <!--Zoho Settings-->
    <!--<add key="client-id" value="1000.ZJREBIWPI96M3NZ10Z6SRSRHLT1PXY" />
		<add key="client-secret" value="122b262fac522fa9a6433c9e15616faf0d4d320a72" />
		<add key="referesh-token" value="1000.0d427a1b5724882f5db065873501b704.604b8aed34d1964ec7b3b16d928aee01" />-->
    <add key="client-id" value="1000.ZJREBIWPI96M3NZ10Z6SRSRHLT1PXY" />
    <add key="client-secret" value="122b262fac522fa9a6433c9e15616faf0d4d320a72" />
    <add key="referesh-token" value="1000.022e898988021623b616ea7176ca0221.405bb2bdd74676ee363399d0b26854b6" />
    <add key="redirect-uri" value="https://creatorapp.zoho.com/utcdigital" />
    <!--End Zoho Settings-->
    <!--Creator API call Settings-->
    <add key="CreatorBaseURL" value="creatorapp.zoho.com" />
    <add key="AccountOwnerName" value="utcdigital" />
    <!--<add key="ApplicationLinkName" value="digi2l" />-->
    <add key="ApplicationLinkName" value="sept-6-live" />
    <!--copy of digi2l-->
    <!--<add key="ApplicationLinkName" value="copy-of-digi2l" />-->
    <!--UrlForMyGAteClose-->
    <add key="Close" value="https://www.google.com/" />
    <!--End Creator API call Settings-->
    <add key="" value="http://localhost:44318/" />
    <!--Digi2l Access Detail-->
    <add key="Username" value="noreply@digimart.co.in" />
    <add key="Password" value="Dg!t@lUTC123" />
    <!--End Digi2l Access Detail-->
    <!--Internal PagesRunning for external use-->
    <add key="PineLabsLink" value="Home/CustInfo?rn=" />
    <!--Internal PagesRunning for external use-->
    <!--Bizlog Detail-->
    <!--Test Server -->
    <add key="RetailerId" value="858c0120-7f10-4c46-b16f-9a3cb560561c" />
    <add key="ApiToken" value="31b26b73e64f56d6354eb632dafd7fe2" />
    <add key="CreateTicketUrl" value="https://test.bizlog.in:9443/rlogistics-execution/rlservice/ticket/create/pickanddrop/oneway" />
    <add key="CancelTicketUrl" value="https://test.bizlog.in:9443/rlogistics-execution/rlservice/ticket/cancel" />
    <add key="UpdatedCreateTicketUrl" value="https://test-api.bizlog.in:8443/core/api/ticket/create/PickAndDropOneWay" />
    <add key="TokenForBizLog" value="Bearer eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjp7InBsYXllcklkIjoiZGlnaTE2NTk0MzYwMjU0NzJUWjRmMGIzMDM0ZDI5YzQ3MGE5MGM2OTkzMGE0MjEzNWQyIiwiY29kZSI6IlVUQyIsImRlc2lnbmF0aW9uSWQiOiJvcGVyMTY1NDY4MTQxNDE3NFRaNjkwOGMyOTA1ZjA2NGNlNmI2YmM3ZGM5OTIwYTYxMTEiLCJkZXNpZ25hdGlvbiI6IlJldGFpbGVyIE9wZXJhdGlvbnMiLCJkZXBhcnRtZW50SWQiOiJvcGVyMTY1NDY4MTMyNTk4NVRaMTUwMDQ0NWY1ZDJjNGQzYWJhMjFmZDA1NDJlNDA5ZTMiLCJkZXBhcnRtZW50IjoiUmV0YWlsZXJzIC0gT3BlcmF0aW9ucyIsInVzZXJuYW1lIjoidXRjIiwiZmlyc3RuYW1lIjoiRGlnaW1hcnQiLCJsYXN0bmFtZSI6IlJldGFpbGVyIiwic3RhdHVzIjoiYWN0aXZlIn0sIm5iZiI6MTY2NjE4NzgwOSwiaWF0IjoxNjY2MTg3ODA5LCJleHAiOjE3NjEyMjc4MDl9.-ecpRipv9a8jg3CsB5qTVaIwPKLFkXC4vtqRPrnvLIc" /> 
    <!--End Bizlog Detail-->
    <!--Blow Horn Details-->
    <!--Test Server-->
    <add key="API_KEY" value="sgam93UXWpOe2tv6TuyNJc51QCY7xB" />
    <add key="CreateShipment" value="https://beta.blowhorn.com/api/orders/shipment" />
    <!--End Blow Horn Details-->
    <!--DtoC Sponser Keys-->
    <add key="DtoCCompanyName" value="D to C" />
    <add key="DtoCSponserNo" value="4186686000002606003" />
    <!--4186686000000687354-->
    <add key="AlternateEmail" value="logitics@digimart.co.in" />
    <!--DtoC Sponser Keys-->
    <!--BillCoud URL-->
    <add key="VoucherProcess" value="https://processevent-y6zeuceu2a-el.a.run.app" />
    <add key="GetLedger" value="https://us-central1-digi2l-dao-uat.cloudfunctions.net/getLedger" />
    <add key="BillCloudKey" value="Ac3Efup86sH3szyR2Zob" />
    <!--BillCoud URL-->
    <!--Blow Horn Details-->
    <!--Test Server-->
    <add key="API_KEY" value="sgam93UXWpOe2tv6TuyNJc51QCY7xB" />
    <add key="CreateShipment" value="https://beta.blowhorn.com/api/orders/shipment" />
    <!--End Blow Horn Details-->
    <!--Mail Jet-->
    <add key="MailjetURL" value="https://api.mailjet.com/v3.1/send" />
    <add key="MailjetAPIKey" value="c5ba304024a0ca4ddb332b0f78fa868b" />
    <add key="MailjetAPISecret" value="bdfc20b5534c3f19fbf81837b9eeb4ba" />
    <!--End Mail Jet-->
    <!--Mahindra Logistics api call details-->
    <add key="apiURl" value="https://qa.whizzard.in/api/v1/orders/process/utc/v2" />
    <add key="apiKey" value="UTC5we45w524c80d010516b1dbfd8" />
    <!--End Mahindra Logistics-->
    <add key="EnableStatusUpdateAPI" value="0" />
    <!--Yellow.ai-->
    <add key="Yellow.AiUrl" value="https://app.yellowmessenger.com/api/engagements/notifications/v2/push?bot=x1658301450510" />
    <add key="Yello.aiSenderNumber" value="919321276341" />
    <add key="Yellow.aiMesssaheType" value="whatsapp" />
    <add key="Yellow.Ai_ApiKey" value="bfpGDsL-DY9SjobEQxUDCZY5Y3_6s-Jk_gteskkv" />
    <!--Yellow.ai-->
    <!--RazorPayKey-->
    <add key="ZaakPayUrl" value=" https://zaakstaging.zaakpay.com/api/paymentTransact/V8" />
    <add key="MerchentId" value="b19e8f103bce406cbd3476431b6b7973" />
    <add key="ZaakPaysecretKey" value="0678056d96914a8583fb518caf42828a" />
    <!--RazorPayKey End-->
	<!--OCR image reader-->
  <add key="ocrUserName" value="himanshu@utcdigital.com" />
  <add key="ocrpassword" value="Hem@nno1king" />
  <add key="requestAuthUrl" value="https://api-platform.mastersindia.co/api/v1/token-auth/" />
  <add key="requestOcrUploadUrl" value="https://api-platform.mastersindia.co/api/v1/ocr/upload/" />
  <!--OCR end-->
	  <!--Zoho Integration Check-->
	  <add key="ZohoPush" value="false" />
	  <!--Zoho Integration Check end-->
	  <!--SelfQcUrl-->
	  <!--SelfQcUrl-->
	  <add key="ERPBaseURL" value="http://localhost:44332/" />
	  <add key="SelfQCUrl" value="qcportal/selfqc?regdno=" />
	  <!--SelfQCUrlEnd-->
	 <!--Lodha Group SecretKey-->
	  <add key="LodhaApiKey" value="AjHY9higTFvkAQOG7mLlWaAGipTedRaI" />
	  <add key="LodhaVendorId" value="10028" />
	  <add key="LodhaOrderPushBackUrl" value="https://qa-api.digirealty.in/marketplace/pwa/orders" />
	  <!--Lodha Group SecretKey-->
	  <!--HtmlContent Email Template-->
	  <!--<add key="DefferedEmail" value="D:\UTC-Bridge\2August\RDCEL.DocUpload.Web.API\Content\HTMLContent\ExchangeMailDeffered.html" />
	  <add key="InstantEmail" value="D:\UTC-Bridge\2August\RDCEL.DocUpload.Web.API\Content\HTMLContent\InstantVoucherType1.html" />
	  <add key="SmartSellEmail" value="D:\UTC-Bridge\2August\RDCEL.DocUpload.Web.API\Content\HTMLContent\SmartSell.html" />
	  <add key="ABBEmail" value="D:\UTC-Bridge\2August\RDCEL.DocUpload.Web.API\Content\HTMLContent\ABBMail.html" />
	  <add key="VoucherGenerationInstant" value="D:\UTC-Bridge\2August\RDCEL.DocUpload.Web.API\Content\HTMLContent\voucherGeneration.html" />
	  <add key="VoucherGenerationCash" value="D:\UTC-Bridge\2August\RDCEL.DocUpload.Web.API\Content\HTMLContent\CashVoucherMail.html" />-->
	  
	   <!--HtmlContent Email Template Local Path-->
	
	  <add key="DefferedEmail" value="D:\UTC-Bridge\22March\RDCEL.DocUpload.Web.API\Content\HTMLContent\ExchangeMailDeffered.html" />
	  <add key="InstantEmail" value="D:\UTC-Bridge\22March\RDCEL.DocUpload.Web.API\Content\HTMLContent\InstantVoucherType1.html" />
	  <add key="SmartSellEmail" value="D:\UTC-Bridge\22March\RDCEL.DocUpload.Web.API\Content\HTMLContent\SmartSell.html" />
	  <add key="ABBEmail" value="D:\UTC-Bridge\22March\RDCEL.DocUpload.Web.API\Content\HTMLContent\ABBMail.html" />
	 <!-- <add key="VoucherGenerationInstant" value="D:\UTC-Bridge\22March\RDCEL.DocUpload.Web.API\Content\HTMLContent\voucherGeneration.html" />-->
	  <add key="VoucherGenerationInstant" value="D:\RD\Project\RDCEL\Dev\code\himanshu-utc\RDCEL\RDCEL.DocUpload.Web.API\Content\HTMLContent\voucherGeneration.html" />
	  <add key="VoucherGenerationCash" value="D:\UTC-Bridge\22March\RDCEL.DocUpload.Web.API\Content\HTMLContent\CashVoucherMail.html" />
	  
	  
	  <!--Bilcloud lag based call-->
	  <add key="BillcloudCallActive" value="false" />
	  
	  <!--ABB Payment Encryption Key-->
	  <add key="EncryptionKey" value="Z9GAU91GKU3DIWXR035K71IUDZ3BKHOU" />
	  <add key="EncryptionIV" value="TIRC0VMIDJ2NJ98D" />
	  
	  <!--OTP HEader New-->
	  <add key="SenderNameNew" value="DGTWOL" />
	  <add key="sendsmsflag" value="true" />
	  
	  <!--Plural paymentgateway-->
	  <add key="CreateOrderUrl" value="https://api-staging.pluralonline.com/api/v1/order/create" />
	  <add key="GetOrderStatus" value="https://api-staging.pluralonline.com/api/v1/inquiry" />
	  <add key="x-verify" value="09F7992D0B503D95551CD5D0571F50BAC77F161B72679967765623DC645972CC" />
	  <add key="MerchantIdPlural" value="12877" />
	  <add key="AccessCodePlural" value="648729ab-f063-4afb-975a-756bc66c0305" />
	  <add key="SecretKeyPlural" value="C37EE5470F4C49AAB8267771D0401000" />
	  <!--Plural paymentgateway End-->
	  <!--HtmlEmailBody-->
	  <add key="BoschABB" value="D:\UTC-Bridge\22March\RDCEL.DocUpload.Web.API\Content\HTMLContent\ABBBoschEmail.html" />
	  
	  <!--Changes for ABB Welcome mail-->
	  <add key="ABBGeneric" value="D:\UTC-Bridge\22March\RDCEL.DocUpload.Web.API\Content\HTMLContent\ABBGenericWelComeEmail.html" />
	  <add key="ABBInvoice" value="D:\UTC-Bridge\22March\RDCEL.DocUpload.Web.API\Content\HTMLContent\ABB_Invoice.html" />
	  <add key="UTC_Seel_Inv" value="D:\UTC-Bridge\22March\RDCEL.DocUpload.Web.API\Content\img\UtcSeel_INV.png" />
	  <add key="ABB_Invoice_Pdf" value="D:\UTC-Bridge\22March\RDCEL.DocUpload.Web.API\Content\DB_Files\ABBInvoicePdf\" />
	  <add key="FromDisplayName" value="UTC - Customer  Care" />
	  <add key="FromEmail" value="customercare@utcdigital.com" />
	  <!--Changes for ABB Welcome mail-->
	  <!--Daikin Url-->
	  <add key="GetCustomerIndividual" value="https://l1131-iflmap.hcisbp.ap1.hana.ondemand.com/cxf/IndividualCustomer_UTI_Buybackprod" />
	  <add key="ServiceRequest" value="https://e1131-iflmap.hcisbt.ap1.hana.ondemand.com/cxf/serviceRequest_UTI_Buyback" />
	  <add key="CreateCustomer" value="https://e1131-iflmap.hcisbt.ap1.hana.ondemand.com/cxf/createCustomer_UTI_Buyback" />
	  <add key="GetServiceRequest" value="https://e1131-iflmap.hcisbt.ap1.hana.ondemand.com/cxf/ServiceRequest" />
	  <add key="DaikinUserName" value="S0016539681" />
  
	  <!--Plural Activation flag-->
	  <add key="PluralActive" value="false" />
	  
	  <!--Pine Labs ABB-->
	  <add key="PineLabsLinkABB" value="ABB/UpdateCustomerDetails?RegdNo=" />
	  
	  <!--Send Daikin EmployeeCode-->
	  <add key="SendEmployeeCode" value="true" />
	  
	  <!--ERP EncryptionKey-->
	  
	  <add key="ERPEncryptionKey" value="E546C8DF278CD5931069B522E695D4F2"/>

	  <!--ABB invoice date Deff-->
	  <add key="DefaultABBDayDiff" value="30"/>

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="1048576" executionTimeout="3600" requestPathInvalidCharacters="" requestValidationMode="2.0" />
	
	  <pages validateRequest="false" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>