<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="Digi2l_DBEntities" connectionString="metadata=res://*/Digi2l_DBEntities.csdl|res://*/Digi2l_DBEntities.ssdl|res://*/Digi2l_DBEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;DESKTOP-8UNQOCK\SQLEXPRESS&quot;;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=admin@123;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
	  <add name="Digi2l_QAEntities" connectionString="metadata=res://*/Digi2l_DBEntities.csdl|res://*/Digi2l_DBEntities.ssdl|res://*/Digi2l_DBEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;DESKTOP-8UNQOCK\SQLEXPRESS&quot;;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=admin@123;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />-->
	  <!--<add name="Digi2l_DBEntities" connectionString="metadata=res://*/Digi2l_DBEntities.csdl|res://*/Digi2l_DBEntities.ssdl|res://*/Digi2l_DBEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;103.127.146.29, 1433&quot;;initial catalog=Digi2L_Prod;persist security info=True;user id=prod_user;password=D!g!2L@UTC2023;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
	  <add name="Digi2l_QAEntities" connectionString="metadata=res://*/Digi2l_DBEntities.csdl|res://*/Digi2l_DBEntities.ssdl|res://*/Digi2l_DBEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;103.127.146.29, 1433&quot;;initial catalog=Digi2L_Prod;persist security info=True;user id=prod_user;password=D!g!2L@UTC2023;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />-->
	  <!--<add name="Digi2l_DBEntities" connectionString="metadata=res://*/Digi2l_DBEntities.csdl|res://*/Digi2l_DBEntities.ssdl|res://*/Digi2l_DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OBL12G6\SQLEXPRESS;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=admin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="Digi2l_DBEntitiesSQL" connectionString="data source=DESKTOP-OBL12G6\SQLEXPRESS;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=admin@123;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />-->
    <add name="Digi2l_DBEntities" connectionString="metadata=res://*/Digi2l_DBEntities.csdl|res://*/Digi2l_DBEntities.ssdl|res://*/Digi2l_DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-Q35HPV2\SQLEXPRESS;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=admin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Digi2l_DBEntitiesSQL" connectionString="data source=DESKTOP-Q35HPV2\SQLEXPRESS;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=admin@123;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient"/>

  </connectionStrings>
  <!--<add name="Digi2l_DBEntities" connectionString="metadata=res://*/Digi2l_DBEntities.csdl|res://*/Digi2l_DBEntities.ssdl|res://*/Digi2l_DBEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;DESKTOP-600L2C5\SQLEXPRESS&quot;;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=Admin@123;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /><add name="Digi2l_QAEntities" connectionString="metadata=res://*/Digi2l_DBEntities.csdl|res://*/Digi2l_DBEntities.ssdl|res://*/Digi2l_DBEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;DESKTOP-600L2C5\SQLEXPRESS&quot;;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=Admin@123;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
