<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Digi2l_DBEntities" connectionString="metadata=res://*/Digi2l_DBEntities.csdl|res://*/Digi2l_DBEntities.ssdl|res://*/Digi2l_DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-Q35HPV2\SQLEXPRESS,1433;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=admin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Digi2l_DBEntitiesSQL" connectionString="data source=DESKTOP-Q35HPV2\SQLEXPRESS;initial catalog=Digi2L_Prod;persist security info=True;user id=sa;password=admin@123;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
    <!--<add name="Digi2l_DBEntities" connectionString="metadata=res://*/Digi2l_DBEntities.csdl|res://*/Digi2l_DBEntities.ssdl|res://*/Digi2l_DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-13B6SGN;initial catalog=Digi2l_DB_Copy;persist security info=True;user id=sa;password=admin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Digi2l_DBEntitiesSQL" connectionString="data source=DESKTOP-13B6SGN;initial catalog=Digi2l_DB_Copy;persist security info=True;user id=sa;password=admin@123;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>


    <!--<add key="EnableMail" value="0"/>
    <add key="BCCEmail" value="vishal@utcdigital.com"/>
    <add key="SupportDisplayName" value="UTC Digital"/>
    <add key="FromEmail" value="shashi@utcdigital.com"/>
    <add key="UserName" value="shashi@utcdigital.com"/>
    <add key="Password" value="Dg!t@lUTC123"/>
    <add key="HostName" value="poppro.zoho.in"/>
    <add key="PortNumber" value="995"/>
    <add key="IsSSL" value="true"/>
    <add key="UseDefaultCredentials" value="true"/>-->
    <add key="EnableMail" value="0" />
    <add key="BCCEmail" value="vishal@utcdigital.com" />
    <add key="SupportDisplayName" value="UTC Digital" />
    <add key="FromEmail" value="shashi@utcdigital.com" />
    <add key="UserName" value="shashi@utcdigital.com" />
    <add key="Password" value="Dg!t@lUTC123" />
    <add key="HostName" value="in-v3.mailjet.com" />
    <add key="PortNumber" value="587" />
    <add key="IsSSL" value="true" />
    <add key="UseDefaultCredentials" value="true" />

    <!--<add key="MailjetAPIKey" value="82df960a8c18864e1178824a0bf46e0e"/>
    <add key="MailjetAPISecret" value="aed4f245ba079a1e6f1f39a18a312084"/>-->

    <add key="MailjetAPIKey" value="c5ba304024a0ca4ddb332b0f78fa868b" />
    <add key="MailjetAPISecret" value="f614d254579838ddc986168a8934eb52" />
    <add key="SourcePath" value="D:\Projects\May25-July25\" />
    <add key="DestinationPath" value="D:\Projects\May25-July25\Compressedone\" />

    <!--<add key="LogPath" value="E:\Priyanka\DIGI2L\UTC_Bridge\src\RDCEL.DocUpload.Solution\RDCEL.Zoho.Book_Creator.Integration\Log"/>-->
    <add key="LogPath" value="D:\Projects\DotNetProject\Himanshu Jain\Development\UTC\src\RDCEL.DeliveryCheck.Console\Log" />

    <!--Zoho Creator Settings-->
    <add key="client-id" value="1000.ZJREBIWPI96M3NZ10Z6SRSRHLT1PXY" />
    <add key="client-secret" value="122b262fac522fa9a6433c9e15616faf0d4d320a72" />
    <add key="referesh-token" value="1000.022e898988021623b616ea7176ca0221.405bb2bdd74676ee363399d0b26854b6" />
    <add key="redirect-uri" value="https://creatorapp.zoho.com/utcdigital" />
    <!--End Zoho Settings-->
    <!--Creator API call Settings-->
    <add key="CreatorBaseURL" value="creatorapp.zoho.com" />
    <add key="AccountOwnerName" value="utcdigital" />
    <!--<add key="ApplicationLinkName" value="digi2l" />-->
    <add key="ApplicationLinkName" value="sept-6-live" />
    <!--copy of digi2l-->
    <!--<add key="ApplicationLinkName" value="copy-of-digi2l" />-->
    <!--End Creator API call Settings-->
    <!--Digi2l Access Detail-->
    <add key="Username" value="noreply@digimart.co.in" />
    <add key="Password" value="Dg!t@lUTC123" />
    <!--End Digi2l Access Detail-->
    <!--Zoho Books Settings-->
    <add key="referesh-token-books" value="1000.dfedede56a81bd4d82f878129dc56c2d.b914c3fa65677d794e89f426acdb9dfa" />
    <add key="redirect-uri-books" value="https://books.zoho.com/" />
    <!--End Zoho Settings-->
    <!--Bizlog Detail-->
    <add key="RetailerId" value="858c0120-7f10-4c46-b16f-9a3cb560561c" />
    <add key="ApiToken" value="31b26b73e64f56d6354eb632dafd7fe2" />
    <add key="CreateTicketUrl" value="https://test.bizlog.in:9443/rlogistics-execution/rlservice/ticket/create/pickanddrop/oneway" />
    <add key="CancelTicketUrl" value="https://test.bizlog.in:9443/rlogistics-execution/rlservice/ticket/cancel" />
    <!--End Bizlog Detail-->
    <!--Registry Detail-->
    <add key="RegistryKey" value="HKEY_CURRENT_USER\MyApplication" />
    <add key="RegistryValue" value="FirstRun2" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
